@page "{id:int}"
@model Aula03.Pages.Events.Delete


<div>
    <h1>Detalhes do item para remover</h1>

    <p><strong>Nome:</strong> @Model.Event.Name</p>
    <p><strong>Descrição:</strong> @Model.Event.Description</p>
    <p><strong>Data de criação:</strong> @Model.Event.Date.ToShortDateString()</p>
</div>

<form method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-page="./Event/Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>