<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - UTFPR</title>
        @* <title>UTFPR</title> *@
    </head>
    <body>
        <header>
            <partial name="./_MenuPartialPage"/>
        </header>
        <main>
            @RenderBody()
        </main>
    </body>
</html>