   <table>
    <tr>
        <td><a asp-page="Index">Home</a></td>
        <td><a asp-page="/Events/Index">Eventos</a></td>
        <td><a asp-page="Sports">Esportes</a></td>
        <td><a asp-page="Players">Jogadores</a></td>
    </tr>
   </table>
