<table class="table table-striped table-hover" >
  <tr>
    <td>
      <div class="btn-group d-flex justify-content-start" role="group" aria-label="Exemplo de grupo de botões">
        <a class="btn btn-primary" asp-page="Index">Home</a>
        <a class="btn btn-primary" asp-page="/Events/Index">Eventos</a>
        <a class="btn btn-primary" asp-page="Sports">Esportes</a>
        <a class="btn btn-primary" asp-page="Players">Jogadores</a>
      </div>
    </td>
  </tr>

  
</table>
